@import url("https://fonts.googleapis.com/css2?family=Days+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.container {
  width: 100%;
  height: 100vh;
  max-width: 400px;
  padding: 0px;
  position: relative;
  overflow-y: scroll;
}

.bgImage{
    position: absolute;
    top: 0;
    left: 0 ;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
}

.header{
    position: relative;
    z-index: 2;
    display: flex;
    color: white;
    font-family: "Lilita One", sans-serif;

    justify-content: space-between;
    font-size: 15px;
    padding: 5px;
}
.stat{
    margin-left: 20px;
    display: inline-block;
}

.playArea{
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: relative;
}

.enemyArea{
    width: 100%;
    height: 80%;
    /* border: 1px solid red; */
}
.playerArea{
    width: 100%;
    height: 10%;
    /* border: 1px solid green; */
}

.buttonArea{
    display: flex;
    justify-content: space-around;
/* margin-top: 10px; */
height: 10%;
align-items: center;

}

.button{
    background-color: #A3A3A3;
    color: white;
    border: 1px solid white;
    padding: 5px 30px;
    border-radius: 5px ;
    font-size: 30px;
    cursor: pointer;
}